@model IEnumerable<University.Models.Group>

@{
    ViewBag.Title = "Групи";
}

<p>
<h2>Групи</h2>
<div style="float: right; margin: 0 1em 1em 0;"><img src="../Images/orderedList0.png"></div>
    @Html.ActionLink("Додати нову", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Specialization)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Specialization)
        </td>
        <td>
            @Html.ActionLink("Редагувати", "Edit", new { id=item.GroupId }) |
            @Html.ActionLink("Переглянути", "Details", new { id=item.GroupId }) |
            @Html.ActionLink("Видалити", "Delete", new { id=item.GroupId })
        </td>
    </tr>
}

</table>
</br></br></br>

