@model University.Models.Journal

@{
    ViewBag.Title = "Додати нову оцінку";
}

<h2>Додати нову оцінку</h2>
<div style="float: right; margin: 0 1em 1em 0;"><img src="../Images/orderedList4.png" width="745" height="440"></div>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Нова оцінка</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mark)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Mark", ViewBag.Marks as SelectList)
            @Html.ValidationMessageFor(model => model.Mark)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ControlType.Name)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ControlTypeId", ViewBag.ControlTypes as SelectList, String.Empty)
            @Html.ValidationMessageFor(model => model.ControlTypeId)
        </div>        
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Subject.Name)
        </div>
        <div class="editor-field">
            @Html.DropDownList("SubjectId", ViewBag.Subjects as SelectList, String.Empty)
            @Html.ValidationMessageFor(model => model.SubjectId)
        </div>        

        <div class="editor-label">
            @Html.LabelFor(model => model.Student.Name)
        </div>
        <div class="editor-field">
            @Html.DropDownList("StudentId", ViewBag.Students as SelectList, String.Empty)
            @Html.ValidationMessageFor(model => model.StudentId)
        </div>

        <p>
            <input type="submit" value="Зберегти" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("До журналу", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

