@model University.Models.Journal

@{
    ViewBag.Title = "Перегляд оцінки";
}

<h2>Перегляд оцінки</h2>

<fieldset>
    <legend>Оцінка</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
      <h7>  @Html.DisplayFor(model => model.Date)</h7>
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mark)
    </div>
    <div class="display-field">
      <h7>  @Html.DisplayFor(model => model.Mark)</h7>
    </div>
    
<div class="display-label">
         @Html.DisplayNameFor(model => model.ControlType.Name)
    </div>
    <div class="display-field">
      <h7>  @Html.DisplayFor(model => model.ControlType.Name)</h7>
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Subject.Name)
    </div>
    <div class="display-field">
      <h7>  @Html.DisplayFor(model => model.Subject.Name)</h7>
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subject.Teacher.Name)
    </div>
    <div class="display-field">
      <h7>  @Html.DisplayFor(model => model.Subject.Teacher.Name)</h7>
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Student.Name)
    </div>
    <div class="display-field">
      <h7>  @Html.DisplayFor(model => model.Student.Name)</h7>
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Student.Group.Specialization)
    </div>
    <div class="display-field">
     <h7>   @Html.DisplayFor(model => model.Student.Group.Specialization)</h7>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id=Model.JournalId, page=ViewBag.PageNum }) |
    @Html.ActionLink("До журналу", "Index", new {page=ViewBag.PageNum})
</p>
