@model University.Models.Student

@{
    ViewBag.Title = "Видалити студента";
}

<h2>Видалити студента</h2>



<h3>При видалені студента будуть також видалені усі його оцінки в журналі успішності. <br />
Ви впевненні що хочете видалити цей запис?</h3>
<fieldset> 
    <legend>Студент</legend>
     <ol>
        <div class="display-label">
             @Html.DisplayNameFor(model => model.RecordBookNumber)

        </div>
        <div class="display-field">
         <h6>   @Html.DisplayFor(model => model.RecordBookNumber)</h6>

        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Name)

        </div>
        <div class="display-field">
         <h7>   @Html.DisplayFor(model => model.Name)</h7>
        </div>
     </ol>
</fieldset>
    
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Видалити" /> |
        @Html.ActionLink("До списку студентів", "Index")
    </p>
}