@model University.Models.Student

@{
    ViewBag.Title = "Редагування інформації про студента";
}

<h2>Редагування інформації про студента</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Студент</legend>

        @Html.HiddenFor(model => model.StudentId)
        @Html.HiddenFor(model => model.UserId)

        <div class="editor-label">
            @Html.LabelFor(model => model.RecordBookNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RecordBookNumber)
            @Html.ValidationMessageFor(model => model.RecordBookNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
      
        

         <div class="editor-label">
            @Html.LabelFor(model => model.Rik)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rik)
            @Html.ValidationMessageFor(model => model.Rik)
        </div>
      

         <div class="editor-label">
            @Html.LabelFor(model => model.DataS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataS)
            @Html.ValidationMessageFor(model => model.DataS)
        </div>


         <div class="editor-label">
            @Html.LabelFor(model => model.AdrS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdrS)
            @Html.ValidationMessageFor(model => model.AdrS)
        </div>


         <div class="editor-label">
            @Html.LabelFor(model => model.TelephoneSt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TelephoneSt)
            @Html.ValidationMessageFor(model => model.TelephoneSt)
        </div>





        <div class="editor-label">
            @Html.LabelFor(model => model.Group.Specialization)
        </div>
        <div class="editor-field">
            @Html.DropDownList("GroupId", ViewBag.Groups as SelectList, String.Empty)
            @Html.ValidationMessageFor(model => model.GroupId)
        </div>        

        <p>
            <input type="submit" value="Зберегти" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("До списку студентів", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
