@model University.Models.Teacher

@{
    ViewBag.Title = "Видалити інформацію про викладача";
}

<h2>Видалити інформацію про викладача</h2>

<h3>Ви впевненні що хочете видалити цей запис?</h3>
<fieldset>
    <legend>Викладач</legend>
   
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
      <h7>  @Html.DisplayFor(model => model.Name)</h7>
    </div>


     <div class="display-label">
         @Html.DisplayNameFor(model => model.Zvaniya)
    </div>
    <div class="display-field">
      <h7>  @Html.DisplayFor(model => model.Zvaniya)</h7>
    </div>




     <div class="display-label">
         @Html.DisplayNameFor(model => model.DataV)
    </div>
    <div class="display-field">
     <h7>   @Html.DisplayFor(model => model.DataV)</h7>
    </div>


     <div class="display-label">
         @Html.DisplayNameFor(model => model.AdrV)
    </div>
    <div class="display-field">
      <h7>  @Html.DisplayFor(model => model.AdrV)</h7>
    </div>



    <div class="display-label">
         @Html.DisplayNameFor(model => model.TelephoneVikl)
    </div>
    <div class="display-field">
       <h7> @Html.DisplayFor(model => model.TelephoneVikl)</h7>
    </div>


</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Видалити" /> |
        @Html.ActionLink("До списку викладачів", "Index")
    </p>
}





