@model University.Models.Teacher

@{
    ViewBag.Title = "Редагування інформації про викладача";
}

<h2>Редагування інформації про викладача</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Викладач</legend>

        @Html.HiddenFor(model => model.TeacherId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>


<div class="editor-label">
            @Html.LabelFor(model => model.Zvaniya)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Zvaniya)
            @Html.ValidationMessageFor(model => model.Zvaniya)
        </div>






         <div class="editor-label">
            @Html.LabelFor(model => model.DataV)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataV)
            @Html.ValidationMessageFor(model => model.DataV)
        </div>


         <div class="editor-label">
            @Html.LabelFor(model => model.AdrV)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdrV)
            @Html.ValidationMessageFor(model => model.AdrV)
        </div>



         <div class="editor-label">
            @Html.LabelFor(model => model.TelephoneVikl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TelephoneVikl)
            @Html.ValidationMessageFor(model => model.TelephoneVikl)
        </div>






        <p>
            <input type="submit" value="Зберегти" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("До списку викладачів", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}